{% extends "base.twig" %}

{% block main %}
    <h1>Quels éléments voulez-vous lier ?</h1>
    {% if count_elements == 0 %}
        <p>Il n'y a pas d'Elements contenant cette liaison dans cet article n'étant pas lié</p>
    {% elseif count_elements == 1 %}
        <p>Il n'y a que {{count_elements}} Element contenant cette liaison dans cet article n'étant pas lié</p>
    {% elseif count_elements > 1 %}
        <p>Il n'y a que {{count_elements}} Elements contenant cette liaison dans cet article n'étant pas lié</p>
    {% endif %}
    <form method="post" action="index.php?action=new_liaison">
        <select name="element1" class="form_input">
            <option value="">--- Choisissez un premier élément ---</option>
            {% for element in elements_liaisons %}
                <option value="{{element.id}}">{{element.balise}} de l'article {{element.article}} ayant pour liaison {{element.liaison}}</option>
            {% endfor %}
        </select>
        <select name="element2" class="form_input">
            <option value="">--- Choisissez un second élément ---</option>
            {% for element in elements_liaisons %}
                <option value="{{element.id}}">{{element.balise}} de l'article {{element.article}} ayant pour liaison {{element.liaison}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="submit_liaison" class="form_input_submit" value="Valider">
    </form>
{% endblock %}